<ul class="nav justify-content-end">
  <li class="nav-item">
<%= link_to 'Characters', guides_path %> |
<%= link_to 'Planets', planets_path %> |
<%= link_to 'Home', root_path %>
</li>
</ul>

<h1>About my Intro to Rails Project</h1>

<p>I have only picked one datasource, Faker::Movies::HitchhikersGuideToTheGalaxy. I have my table displaying characters with their specie, quote, and the planet they live on. There is a one-to-many relationship between my 2 models Guide and Planet, a guide aka character belongs to a planet.
My planet model has a planet and a location attributed to its table.</p>