<ul class="nav justify-content-end">
  <li class="nav-item">
<%= link_to 'Characters', guides_path %> |
<%= link_to 'Planets', planets_path %> |
<%= link_to 'Home', root_path %>
</li>
</ul>

<h1>About my Intro to Rails Project</h1>